{% extends "header.html" %}
{% block myContent %}
<div id="myVideo-wrapper">
{% if home1 %}
 <video preload="true" controls autoPlay="true" muted loop id="myVideo" playsinline=""
     <source src="{{MEDIA_URL}}{{home1.file}}" type="video/mp4">
</video>
     {%endif%}
<!-- Optional: some overlay text to describe the video -->
<div class="content h1-f1">
  <!-- Use a button to pause/play the video with JavaScript -->
          {% for about in about1 %}
        {% if about.header == "Welcome" %}
        <h1 id="fading-h">{{about.name}}</h1>
        <p>{{about.body}}</p>
        {% endif %}
        {% endfor %}
      <a href="/read_more" >Read More</a>
</div>
  {% endblock %}
