{% extends 'header.html' %}

{% block myContent %}
  <header class="showcase">
    <div class="container showcase-inner">
    <style>
        h1 { color: lightyellow; }
        div { color: brown; margin-bottom: 10px }
    </style>
    <h1 id="fading-r">Email successfully sent!</h1>
    <div class="row">
            <div>
                        <p style="font-size: 18px; color: lightgrey">Subject:        {{form.subject}}</p>
                        <p style="font-size: 18px; color: lightgrey">Email sent by:  {{form.email}}</p>
                        <br><br>
                        <div class="msg">
                        <p>Thank you for your email, we will response to you in a shorter time. Have a nice day to you!</p>
                        <a href="/" class="btn">Home</a>
                        </div>
            </div>
            </div>
    </div>
  </header>
{% endblock %}
